; cis make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; Profiler
libraries[profiler][directory_name] = "profiler"
libraries[profiler][type] = "library"
libraries[profiler][destination] = "../../profiles/cis/libraries"
libraries[profiler][download][type] = "get"
libraries[profiler][download][url] = "http://ftp.drupal.org/files/projects/profiler-7.x-2.x-dev.tar.gz"

; shadowbox
;libraries[shadowbox][directory_name] = "shadowbox"
;libraries[shadowbox][type] = "library"
;libraries[shadowbox][destination] = "libraries"
;libraries[shadowbox][download][type] = "get"
;libraries[shadowbox][download][url] = "" ; TODO add download URI

; cis
libraries[cis][directory_name] = "cis"
libraries[cis][type] = "profile"
libraries[cis][destination] = "../../profiles"
libraries[cis][download][type] = "get"
libraries[cis][download][url] = "http://ftp.drupal.org/files/projects/cis-7.x-1.x-dev.tar.gz"

